table {
    width: 100%;
}

.editor-container {
    margin: auto;
    background-color:  white;
    
}

.input {
    border: medium;
}
.list-orders {
    cursor: pointer;
    color: #3f51b5;
    text-decoration-line: underline;
}